doctype html
html(lang="en" ng-app="MonterailApp")
  head
    title= pageTitle
    script(type='text/javascript' src="vendor/js/angular.min.js")
    script(type='text/javascript' src="vendor/js/angular-animate.min.js")
    script(type='text/javascript' src="vendor/js/angular-ui-router.min.js")
    script(type='text/javascript' src="vendor/js/angular-modal-service.js")
    script(type='text/javascript' src="vendor/js/ui-bootstrap-tpls-1.3.3.min.js")
    script(type='text/javascript' src="js/app.js")
    link(rel="stylesheet" type="text/css" href="style.css")
      
  body
    div(ui-view)
